<h2 style="bottom: 10%;text-align: center; text-indent: 11.7%;">
  State: <select   style="width: 179px" [(ngModel)] = "Selectedval" >
<option *ngFor="let names of statename" [value]="names.id"  >
{{names.name}}</option>
</select> </h2>

<p style="text-align: center;text-indent: 16.5%;">
  <button  style="width: 180px; height: 20px; color: rgb(13, 27, 224);" type="button"
(click)="newaddfunc(k)"> Add New </button>
</p>




<p *ngIf="k>=1" style="text-align: center;text-indent: 220px">

  <input type="text" placeholder="Enter text here"  #box >
  <button (click)= "appendfunc(i10,box.value)">✓</button>
</p>




<h2 style="bottom: 10%;text-align: center; text-indent: 9%;">
  District: <select   style="width: 179px" [(ngModel)]= "selectedopt" >
<option *ngFor ="let names of districtname" >
    <div *ngIf = "names.id1 == Selectedval " value="names.id1" >{{names.name1}}</div> 
    </option> 
</select> </h2>


<p style="text-align: center;text-indent: 16.5%;">
  <button  style="width: 180px; height: 20px"  (click)="newaddfunc2(k2)"> Add New </button>
</p>


<p *ngIf="k2 >=1" style="text-align: center;text-indent: 220px;">
  <input type="text" placeholder="Enter text here" #smallbox >
  <button (click)="appenddist(i11,smallbox.value)">✓</button>
</p>